body
    {
        background-color:rgb(17, 17, 17);
    }
.top-navigation-bar
    {
        position: absolute;
        left: 0%;
        width: 100%;
        top: 10%;
        background-color: rgb(3.5, 3.5, 3.5) ;
    }

.top-navigation-bar a 
    {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration:underline;
        font-size: 18px;
    }

.top-navigation-bar a:hover
    {
        background-color:rgb(17, 17, 17);
        color: #E0E0E0;
    }

.top-navigation-bar a.active 
    {
        background-color:rgb(15, 15, 15);
        color:#E0E0E0;
    }
        
.org-name
    {
        position: absolute;
        padding: 10px 10px 0px 10px; 
        background-color: black ;
        left: 0%;
        top: 0%; 
        width: 98.5%;
        height: 60px;
        color: bisque;
        text-align: center;
        font-size: 17px;
    }
                
footer
    {
        position: absolute; 
        padding: 10px 10px 0px 10px; 
        left: 0;
        bottom: 0; 
        width: 98.5%;
        height: 30px; 
        color:#202020;
        background:rgba(181, 157, 231, 0.897); 
    }
        