body
    {
        background-color:rgb(31, 27, 27);
    }
.top-navigation-bar
    {
        position: absolute;
        left: 0%;
        width: 100%;
        top: 10%;
        background-color: rgb(3.5, 3.5, 3.5) ;
    }

.top-navigation-bar a 
    {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration:underline;
        font-size: 18px;
        font-family:'Segoe UI'
    }

.top-navigation-bar a:hover
    {
        background-color:rgb(31, 27, 27);
        color: seashell;
        font-family:'Segoe UI'
    }

.top-navigation-bar a.active 
    {
        background-color:rgb(25, 25, 25);
        color: seashell;
        font-family:'Segoe UI'
    }
        
.org-name
    {
        position: absolute;
        padding: 10px 10px 0px 10px; 
        background-color: black ;
        left: 0%;
        top: 0%; 
        width: 98.5%;
        height: 60px;
        color: rgb(231, 210, 183);
        text-align: center;
        font-size: 17px;
        font-family:'Segoe UI'
    }
                
footer
    {
        position: absolute; 
        padding: 10px 10px 0px 10px; 
        left: 0;
        bottom: 0; 
        width: 98.5%;
        height: 30px; 
        color:#030303;
        background: rgb(117, 120, 124)  ;
        font-family:'Segoe UI'
    }
        