@import url('https://fonts.googleapis.com/css?family=Red Hat Display:n,b,bi,900');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #2f2f2f;
    padding: 20px 10px;
    border-radius: 20px;
    opacity: 1;
  }
  /* Style the header links */
  .header a {
    float: left;
    color:#F5F5DC;
    text-align: left;
    padding: 3px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
  
  }
  
  .header a.logo {
    font-size: 30px;
    padding-left: 5%;
    color: white;
    float:left;
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline;
  }
  
  .header a:hover {
    background-color: #b1b1b1;
    color:teal;
  }
  
  .header a.active {
    background-color:white;
    color: black;
    border-radius: 10%;
  }

  .header a.inactive{
    background-color: #2f2f2f;
    color: white;
    border-radius: 5%;
  }
  
  .header-right {
    float: right;
    padding-right: 2%;
    border-radius: 5%;
    color: black

  }