@import url('https://fonts.googleapis.com/css?family=Red Hat Display:n,b,bi,900');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #2f2f2f;
    padding: 16px 10px;
    border-radius: 10px;
    opacity: 1;
  }
  /* Style the header links */
  .header a {
    float: left;
    color:#F5F5DC;
    text-align: left;
    padding: 3px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
  
  }
  
  .header a.logo {
    font-size: 30px;
    padding-left: 5%;
    color: white;
    float:left;
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline;
  }
  
  .header a:hover {
    background-color: #b1b1b1;
    color:teal;
  }
  
  .header a.active {
    background-color:#3f3f3f;
    color: white;
    border-radius: 15%;
    text-decoration: underline;
    font-weight: 900;
  }

  .header a.inactive{
    background-color: #2f2f2f;
    color: white;
    border-radius: 15%;
  }
  
  .header-right {
    float: right;
    padding-right: 2%;
    border-radius: 15%;
    color: black

  }
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #2f2f2f;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  background-color: #2f2f2f;
  color: white;
  border-radius: 15%;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #2f2f2f;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color:black;
  border-radius: 10%;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5%;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 15%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.headertext{
  color: white;
  font-size: 30px;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.subtext{
  color:white;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

.learnmore {
  background-color: #f1f1f1; /* Green */
  border: none;
  color: black;
  padding: 17px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
}

.learnmore:hover{
  background-color: #4f4f4f;
  color: black;
}

hr{
  border: 1px solid #f1f1f1;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom:5%;
}

.footer{
  background-color: #2f2f2f;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}